* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: pink;
    color: darkblue;
    padding: 1em;
    text-align: center;
}